<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="assets/css/index.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="lib/session.js" async></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="lib/main.js" defer></script>
  <script src="lib/info.js"></script>
</head>

<body>
  <div class="flex h-screen w-full" id="main">
    <div class="flex-auto w-96">
      <div class="text-3xl font-bold text-center pt-5">
        <span class="text-secondary">Anti</span><span class="text-accent">social</span>
      </div>
      <ul class="menu text-2xl place-content-center pt-1">
        <li>
          <a href="home.html" target="main-content"><i class="material-icons">home</i> Home</a>
        </li>
        <li>
          <a onclick="x.showModal()"><i class="material-icons">create</i> Create</a>
        </li>
        <li>
          <a href="search.html" target="main-content"><i class="material-icons">search</i> Search</a>
        </li>
        <li>
          <a href="notifications.html" target="main-content">
            <div class="indicator">
              <div v-if="notiff > 0" class="indicator-item badge badge-secondary">{{ notiff }}</div>
              <i class="material-icons">notifications</i>
            </div>
            Notifications</a>
        </li>
        <li>
          <a :href="'profile.html?uid='+uid" target="main-content"><i class="material-icons">account_circle</i>
            Profile</a>
        </li>
        <li>
          <a type="submit" onclick="signoutUser()"><i class="material-icons">logout</i> Logout</a>
        </li>
      </ul>

    </div>
    <div class="divider divider-horizontal m-0 p-0"></div>

    <div class="flex flex-col w-full">
      <iframe src="home.html" name="main-content" id="main_content" frameborder="0" class="w-full h-full"></iframe>
    </div>

    <div class="divider divider-horizontal m-0 p-0"></div>

    <div class="flex flex-col w-96">

      <div class="p-6 overflow-auto h-dvh">
        <!-- <label class="input input-bordered flex items-center gap-2">
                <input type="text" class="grow" placeholder="Search" />
                <i class="material-icons w-4 h-4 opacity-70">search</i>
              </label> -->
        <div class="text-xl">Suggestions</div>
        <!-- <div class="avatar pt-3">
          <div class="w-10 h-10 rounded-full">
            <img src="https://avatars.githubusercontent.com/u/133362311?v=4" />
          </div>
          <label class="text-lg">
            <a href="profile.html?uid=30" target="main-content">Sengo Muramasa
              <div class="text-gray-600">
                @muramasa
              </div>
            </a>
          </label>
        </div> -->
        <div v-for="item in sugg" :key="item.id">
          <a :href="'profile.html?uid=' + item.user_id" target="main-content">
            <div class="avatar flex items-center pt-3">
              <div class="w-10 h-10 rounded-full">
                <img :src="'..' + item.profile_pic" />
              </div>
              <label class="text-lg pl-2"> {{ item.fullname }}
                <p class="text-gray-600">
                  @{{ item.username }}
                </p>
              </label>
            </div>
          </a>
        </div>

      </div>

    </div>

  </div>

  <dialog id="x" onclose="clearMind()" class="modal modal-top px-96">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <div class="pt-6">
        <form id="postForm">
          <input type="hidden" name="imguid" id="imguid">
          <textarea name="content" class="textarea textarea-bordered w-full P-6 "></textarea>
          <div>
            <input type="file" id="fileInput" name="img[]" accept="image/*" multiple
              class="file-input file-input-bordered w-full">
          </div>
          <button class="btn btn-primary float-end ">POST</button>
        </form>
      </div>
    </div>
  </dialog>

  <dialog id="my" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <form id="updateInfoForm">
        <div class="avatar relative group">
          <div class="w-24 rounded-full">
            <img id="selectedImage" alt="Avatar Image" class="rounded-full">
          </div>
          <div class="absolute inset-0 rounded-full opacity-0 bg-black bg-opacity-50 transition-opacity duration-300 group-hover:opacity-100">
            <i class="material-icons flex items-center justify-center h-24">edit</i>
            <input type="file" accept="image/*" id="imageInput" name="profile" onchange="displayImage()"
            class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer"/>
          </div>
        </div>

        <input type="hidden" id="logid" name="userid">
        <label class="form-control">
            <div class="label">
                <span class="label-text">Fullname</span>
            </div>

            <input id="logname" name="fullname" class="input input-bordered" />
        </label>
        <label class="form-control pb-6">
          <div class="label">
              <span class="label-text">Username</span>
          </div>

          <input id="loguname" name="username" class="input input-bordered" />
      </label>

        <button class="btn btn-primary float-end">Save</button>
    </form>
    </div>
  </dialog>


  <!-- <script src="lib/services/login.js"></script> -->
  <script src="lib/services/post.js"></script>
  <script src="lib/services/upload.js"></script>
</body>

</html>