<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="lib/profile.js" defer></script>
</head>
<body>
    <div id="profile">
        <img src="https://avatars.githubusercontent.com/u/133362311?v=4" alt="profile" width="100" height="100">
        <label for="name">{{ items.fullname }}</label>
        <!-- <input type="text" v-model="items[0].user_id">
        <input type="text" v-model="suid"> -->

        <div v-if="!cuser">
            <button @click="followToggle()">
                {{ following ? 'Unfollow' : 'Follow' }}
            </button>    
        </div>

        <div>
            <ul>
                <li v-for="item in mepost" :key="item.id">
                  <label>
                    <a :href="'profile.html?uid='+item.user_id">{{ item.fullname }}</a>
                    - {{ item.created_at}}
                    <button onclick="x.showModal()">Edit</button>
                    <button @click="deletePost(item.post_id)">Delete</button>
                  </label>  
                  <p>{{ item.content }}</p>
                  
                  <template v-if="item.filenames && item.filenames.length > 0">
                    <template v-for="(filename, index) in item.filenames">
                      <img v-if="filename" :src="'..' + filename" :key="index" alt="" width="600" height="400">
                    </template>
                  </template>
                  
                  <button>Like</button>
                  <button>
                    <a :href="'comment.html?post=' + item.post_id + '&u=' + item.user_id">Comment</a>
                  </button>
                  <button>Share</button>
                  <p class="border-b border-gray-300"></p>
                </li>
              </ul>
        </div>
    </div>
</body>
</html>
