<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="lib/search.js" defer></script>
</head>
<body>
    <div id="search">
        <a href="index.html">Home</a>
        <input type="text" v-model="searchText" placeholder="Enter search term">
        <button @click="performSearch">Search</button>
        <div v-if=" searchText.length > 0">
            <li v-for="item in resultsFiltered" :key="item.id">
                <a :href="'profile.html?uid='+item.user_id">{{ item.fullname }}</a>
                <button>Follow</button>
            </li>
        </div>
        <div v-else>
            No results found.
        </div>
    </div>    
</body>
</html>